/* You can add global styles to this file, and also import other style files */
/* --- HEADER --- */
/* --- PRODUCT LIST --- */
/* --- SUMMARY --- */
/* --- SMALL SCREEN --- */
/* --- MEDIUM & LARGE SCREEN --- */
/* --- LARGE SCREEN --- */
* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  margin: 20px 0;
  padding: 0;
  font-family: arial, sans-serif;
  // overflow: scroll;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: #333333;
  &:hover {
    color: #f58551;
  }
}
button {
  background-color: #16cc9b;
  border: 2px solid #16cc9b;
  color: #ffffff;
  transition: all 0.25s linear;
  cursor: pointer;
  &::after {
    position: relative;
    right: 0;
    content: " \276f";
    transition: all 0.15s linear;
  }
  &:hover {
    background-color: #f58551;
    border-color: #f58551;
    &::after {
      right: -5px;
    }
  }
  &:focus {
    outline: none;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
input {
  transition: all 0.25s linear;
  outline: none;
}
input[type="number"] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}
header.container {
  margin-bottom: 1.5rem;
}
header {
  .breadcrumb {
    color: #7d7d7d;
    li {
      float: left;
      padding: 0 6px;
      height: 20px;
      line-height: 20px;
      &:first-child {
        padding-left: 2px;
      }
      &:not(:last-child) {
        &::after {
          content: " \276f";
          padding-left: 8px;
        }
      }
    }
  }
  .count {
    float: right;
    color: #333333;
    height: 20px;
    line-height: 20px;
  }
}
.products {
  border-top: 1px solid #ddd;
  > li {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
  }
}
.row {
  position: relative;
  overflow: auto;
  width: 100%;
}
.col {
  float: left;
}
.quantity {
  float: left;
  width: 50%;
  text-align: center;
  > input {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    left: calc(50% - 30px);
    background: #fff;
    border: 2px solid #ddd;
    color: #7f7f7f;
    text-align: center;
    font: 600 1.5rem Helvetica, Arial, sans-serif;
    &:hover {
      border-color: #f58551;
    }
    &:focus {
      border-color: #f58551;
    }
  }
}
.remove {
  float: left;
  width: 50%;
  text-align: center;
  svg {
    width: 60px;
    height: 60px;
  }
}
.col.left {
  width: 70%;
}
.col.right {
  width: 30%;
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}
.detail {
  padding: 0 0.5rem;
  line-height: 2.2rem;
  .name {
    font-size: 1.2rem;
  }
  .description {
    color: #7d7d7d;
    font-size: 1rem;
  }
  .price {
    font-size: 1.5rem;
  }
}
.close {
  fill: #7d7d7d;
  transition: color 150ms linear, background-color 150ms linear,
    fill 150ms linear, 150ms opacity linear;
  cursor: pointer;
  &:hover {
    fill: #f58551;
  }
}
.promotion {
  float: left;
  width: 100%;
  margin-top: 1.5rem;
  > label {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
  }
  > input {
    float: left;
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 1.8rem;
    border: 2px solid #16cc9b;
    border-radius: 2rem 0 0 2rem;
  }
  &:hover {
    > input {
      border-color: #f58551;
    }
    > button {
      border-color: #f58551;
      background-color: #f58551;
    }
  }
  > button {
    float: left;
    width: 20%;
    height: 2.4rem;
    border-radius: 0 2rem 2rem 0;
    &::after {
      content: "\276f";
      font-size: 1rem;
    }
  }
}
.summary {
  float: left;
  width: 100%;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  text-align: right;
  ul {
    li {
      padding: 0.5rem 0;
      span {
        display: inline-block;
        width: 30%;
      }
    }
    li.total {
      font-weight: bold;
    }
  }
}
.checkout {
  float: left;
  width: 100%;
  margin-top: 1.5rem;
  text-align: right;
  > button {
    font-size: 1.2rem;
    padding: 0.8rem 2.8rem;
    border-radius: 1.5rem;
  }
}
.empty-product {
  text-align: center;
  > button {
    font-size: 1.3rem;
    padding: 10px 30px;
    border-radius: 5px;
  }
}
@media all and (max-width: 599px) {
  .thumbnail {
    img {
      display: none;
    }
  }
  .quantity {
    > input {
      width: 40px;
      height: 40px;
      left: calc(50% - 20px);
    }
  }
  .remove {
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
@media all and (min-width: 600px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 75%;
    max-width: 960px;
  }
  .thumbnail {
    float: left;
    width: 35%;
  }
  .detail {
    float: left;
    width: 65%;
  }
  .promotion {
    width: 50%;
  }
  .summary {
    width: 50%;
    text-align: right;
  }
  .checkout {
    width: 100%;
    text-align: right;
  }
}
@media all and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
